# LaTeX auxiliary files
*.aux
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.lof
*.lot
*.out
*.toc
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb

# Other temporary files
*.bbl
*.blg
*.brf
*.ilg
*.ind
*.inx
*.run.xml
*.bcf
